* {
  padding: 0;
  margin: 0;
  text-size:15px;
}

footer { 
  font-size: 0.8rem; text-align: center; 
  margin-top: 1rem;
}

.attribution a { color: hsl(228, 45%, 44%); }

body {
  font-family: 'Outfit', sans-serif;
  background-color:  hsl(212, 45%, 89%);
  min-height: 100vh;
  padding: 10%;
}

main {
  width: 20rem;
  background-color: hsl(0, 0%, 100%);
  margin: 0 auto;
  border-radius: 1rem;
}

main img {
  width: 17rem;
  border-radius: 10px;
  margin: 1.5rem;
}

main h1 {
  padding: 0 20px 20px 20px;
  text-align: center;
  color: hsl(218, 44%, 22%);
}

main p {
  padding: 0 30px 40px 30px;
  text-align: center;
  color: hsl(220, 15%, 55%);
}